
body {
    font-family: 'Montserrat', sans-serif,
}

h1 {
    font-weight: 900;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
    
}
.navbar {
    background-color: #186E96 !important;
}
.btn-outline-warning {
    background-color: transparent !important;
    border-color: #EE6A05  !important;
    color:#EE6A05;
    position: relative;
    
}
.btn-outline-warning:before{
    content: '';
    position: absolute;
    background-color: #EE6A05;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}
.btn-outline-warning:hover:before {
    width: 100%;
}

.btn-outline-warnings {
    background-color: transparent !important;
    border-color: rgb(255, 255, 255) !important;
    color:rgb(255, 255, 255);
    position: relative;
    
}
.btn-outline-warnings:before{
    content: '';
    position: absolute;
    background-color: #EE6A05;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
}
.btn-outline-warnings:hover:before {
    width: 100%;
}


.btn-warning {
    background-color: #EE6A05;
    border-color: rgb(255, 81, 0) !important;
}
#itsYes {
    color: aliceblue;
}
html {
    scroll-behavior: smooth;
  }

.call-to-action {
    background-color: #186E96 !important;
} 

#contactUs {
    background-color: #186E96 !important;
    color: honeydew;
}

#servicebutton {
    width: 200px !important;
}

.copyright {
    background-color: rgb(202, 202, 202);
}
.phone {
    color: rgb(152, 179, 255) !important;
}
.email {
    color:rgb(152, 179, 255) !important;
}